<p id="notice"><%= notice %></p>

<p>
  <h1><%= @list.name %></h1>
</p>

<div>
  <% @list.steps.each do |step| %>
  <%= step.name %><br>
<% end %>
</div>

<%= link_to 'Edit List Name', edit_list_path(@list) %> |
<%= link_to 'Edit Steps', list_steps_path(@list) %> |
<%= link_to 'Back to Lists', lists_path %>
<hr>
Add a step <br>
<%= render 'steps/form' %>
